fastapi
uvicorn
pillow
requests
python-multipart
python-dotenv
gunicorn
numpy
cloudinary
moviepy==1.0.3
apscheduler
edge-tts
pydantic
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
razorpay
passlib[bcrypt]
bcrypt
pymongo
