fastapi
uvicorn
pydantic
edge-tts
moviepy==1.0.3
pillow
cloudinary
requests
apscheduler
python-dotenv
ollama
pymongo
bcrypt==3.2.2
passlib[bcrypt]
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
razorpay
